.admin-container{
    background-color: #e7f0ed;
}
#sidebar {
    background-color: purple;
    color: white;
    height: 47rem;
    text-align: center;
}
#sidebar img{
    width: 25px;
}
#sidebar h2{
    margin-top:15px;
}
#sidebar a{
    color: white;
    text-decoration: none;
}
#sidebar p:hover{
    background-color:rgb(77, 24, 77);
  
}
#sidebar nav a{
    margin-bottom: 10px;

}

#addBook-title{
    height: 70px;
    width: 75%;
    background-color:white;
}
#addBook-title h4{
    margin: 16px;
}
.manegeBooks{
    background-color: white;
    width: 72%;
    border-radius: 10px;
    margin: -662px 0 0 400px;
}