#sidebar {
    background-color: purple;
    color: white;
    height: 47rem;
}
#addBook{
    background-color:lightgray;
    width: 1100px;
    height:44rem;
    margin-left: -15px;
}
#inputField{
    margin-top: 20px;
    background-color:white;
    height:300px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
}