.header-container{
  margin-top:20px;
}
#webSiteName{
  text-decoration:none;
  color: block; 
}
a{
  text-decoration: none;
  color: black;
}
ul li{
    display: inline;
    margin-left: 50px;
    
  }
  
  ul a{
    text-decoration: none;
    font-weight: bold;
  }
  #navbarNavAltMarkup{
    margin-right: 28%;
  }
  #btn{
    background-color: blue;
   color: white; 
  }