.manegeBooks{
    background-color: white;
    
   
}
ul li{
    display: inline;
    margin-left: 28%;
    
  }
#deleteIcon img{
    width: 25px;
}
#managebook-table{
    width: 67%;
    margin-left: 27%;
}